body{
    background-color: white;
}
.apresentacao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.apresentacao-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    
}
.apresentacao-titulo{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(59, 148, 184, 0.767);
    padding: 20px;
    border-radius: 40px;
}
.apresentacao-text{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(59, 148, 184, 0.767);
    padding: 20px;
    border-radius: 40px;
    margin: 40px;
    margin-left: 80px;
}
.apresentacao-1 img{
    height: 400px;
    margin-right: 60px;
    border: solid 7px rgba(59, 148, 184, 0.767);
}