body{
    background-color: white;
}
.apresentacao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.apresentacao-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    
}
.apresentacao-titulo{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(59, 148, 184, 0.767);
    padding: 20px;
    border-radius: 40px;
}
.apresentacao-text{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(59, 148, 184, 0.767);
    padding: 40px;
    border-radius: 40px;
    margin: 40px;
    margin-left: 80px;
    font-weight: 600;
}
.apresentacao-1 img{
    height: 400px;
    margin-right: 60px;
    border: solid 7px rgba(59, 148, 184, 0.767);
}
.momentos{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.momentos img{
    border: solid 10px rgba(59, 148, 184, 0.767); 
    width: 550px;
}
.favoritos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.lista{
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    padding: 30px;
    background-color: rgba(59, 148, 184, 0.767);
    border-radius: 30px;
}
.lista-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.lista-2{
    display: flex;
    flex-direction: column;
    margin: 40px;
}
.lista-3{
    display: flex;
    flex-direction: column;
}
.lista-titulo{
    margin-top: 15px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.lista-text{
    font-family: Arial, Helvetica, sans-serif;
}
.lista img{
    height: 500px;
    width: 375px;
}
.competencias{
    display: flex;
    align-items: center;
    justify-content: center;
}
.competencias-text{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(59, 148, 184, 0.767);
    padding: 40px;
    border-radius: 40px;
    margin: 40px;
    margin-left: 80px;
    font-weight: 600;
}